@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

* {
    border: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #181f29;
    color: white;
    font-weight: 750px;
    display: flex;
    align-items: center;
    min-height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

h1{
    text-align: center;
    color: rgb(127, 54, 156);
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 3em;
}

.social-media{
    display: flex;
    align-content: center;
}

.social-media img {
    width: 35px;
    margin-left: 50px;   
}

.social-media a:nth-child(1) img{
    margin-left:0;
}

.alternativa{
    margin-top: 20px;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
}

form label{
    display: flex;
    flex-direction: column;
}

form label span{
    margin-top:20px;
    font-size: 20px;
    text-align: center;
}

form input{
    width: 300px;
    height: 50px;
    background-color:#101c2c;
    padding: 0 0.5em;
    outline: #181f29;
    color: whitesmoke;
    font-size:17px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin-bottom:10px;
}

